StatTrackerProject/Site/General/__pycache__/
StatTrackerProject/Site/Site/__pycache__/
StatTrackerProject/Site/StatAnalysis/__pycache__/
StatTrackerProject/Site/TeamManagement/__pycache__/
StatTrackerProject/Site/StatTracker/__pycache__/
StatTrackerProject/Site/TeamManagement/migrations/__pycache__/