<!DOCTYPE html>

{% extends "../Master.html" %}

{% block content %} 
    <h2>
        {{team.team_name}}
        <br><br>
    </h2>

    <form method="POST" class="form-group">
        {% csrf_token %}
        <h3>
            Add Single Player
        </h3>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="John"
            />
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="Doe"
            />
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input
            type="number"
            class="form-control"
            id="number"
            name="number"
            placeholder=""
            />
        </div>
        <div class="d-grid">
            <button class="btn btn-outline-dark" type="submit">
            Add Player
            </button>
        </div>
    </form>
    <h2>
        <br>
        Or
        <br>
        <br>
    </h2>
    <form action="" method="post" enctype="multipart/form-data" class-="form-group">
        {% csrf_token %}
        <h3>
            Add Team From CSV File
        </h3>
        <h6>
            CSV file needs to include column names in the first row and be of the form firstName, lastName, number.
        </h6>
        <br>
        <div class="mb-3">
            <label for="File" class="form-label">File Upload</label>
            <input id="docfile" type="file" name="docfile"/>
            <div class="d-grid">
                <button class="btn btn-outline-dark" type="submit">
                Add Players
                </button>
            </div>
        </div>
        <br>
        <br>
    </form>

    <h2>
        Roster
        <br>
    </h2>

    {% for player in players %}
    <div class="card">
        <h5 class="card-header">{{player.first_name}} {{player.last_name}}</h5>
        <div class="card-body">
        <h5 class="card-title">{{player.number}}</h5>
    </div>
    {% endfor %}
{% endblock %}